/* YOUTUBE */

.isFullScreen {
    overflow: hidden;
}

.html5-video-container {
    width: 100% !important;
    height: 100% !important;
}

.isFullScreen #player-container {
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    z-index: 9000 !important;
    background: #000;
}

.isFullScreen video {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
}

.ytp-popup-button, .ytp-loop-button, .perso-size {
    float: left;
    margin-right: 5px;
    text-align: center !important;
}

@media screen and (max-width: 880px) {
    .isFullScreen .ytp-tooltip.ytp-preview {
        bottom : 60px !important;
        top: unset !important;
    }
}


/* REDDIT */

#playerExtra {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 80000000;
    right: 0;
    transition: all 0.3s ease;
  }
  
  .scrolled #playerExtra {
    height: 49%;
    width: 45%;
  }
  
  #playerFull {
    height: 100%;
    width: 100%;
  }
  
  #playerExtra:hover #playerFullInfos {
    top: 0;
  }
  
  #playerFullInfos {
    z-index: 900;
    top: -100%;
    background: rgba(255, 255, 255, 1);
    height: 20px;
    padding: 10px;
    transition: all 0.5s ease;
    position: absolute;
  }
  
  .thing.full .expando {
    display: none;
  }
  