.expand {
  overflow: hidden;
}

.expand #player-container {
  position: fixed !important;
  z-index: 9000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.expand #yt-masthead-container {
  display: none;
}

.expand .annotation {
  display: none !important;
}

.expand .video-annotations {
  display: none !important;
}

.expand .ytp-cards-teaser {
  display: none !important;
}

.expand #gaming-event-promo-overlay, .expand .ytp-cards-button {
  display: none;
}

.ytp-popup-button, .ytp-loop-button, .perso-size {
  float: left;
  margin-right: 5px;
  text-align: center !important;
}

.expand .ytp-tooltip.ytp-bottom {
	bottom : 45px !important;
	top:unset !important;
}

@media screen and (max-width: 855px) {
	.expand .html5-video-container {
	  display: flex;
	  width: 100%;
	  height: 100%;
	  justify-content: center;
	  align-items: center;
	}

	.expand .html5-video-container video {
	  width: 100% !important;
	  height: 100% !important;
	}

	.expand .ytp-chrome-bottom {
		left: calc(50% - 201px) !important;
	}

}


@media screen and (max-width: 855px) {
	.expand .html5-video-container {
	  display: flex;
	  width: 100%;
	  height: 100%;
	  justify-content: center;
	  align-items: center;
	}

	.expand .html5-video-container video {
	  width: 100% !important;
	  height: 100% !important;
	}

	.expand .ytp-chrome-bottom {
		left: calc(50% - 308px) !important;
	}

}

@media screen and (max-width: 655px) {
	.expand .ytp-chrome-bottom {
		left: calc(50% - 201px) !important;
	}
}


/* REDDIT */

#playerExtra {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 800;
  right: 0;
  transition: all 0.3s ease;
}

.scrolled #playerExtra {
  height: 49%;
  width: 45%;
}

#playerFull {
  height: 100%;
  width: 100%;
}

#playerExtra:hover #playerFullInfos {
  top: 0;
}

#playerFullInfos {
  z-index: 900;
  top: -100%;
  background: rgba(255, 255, 255, 1);
  height: 20px;
  padding: 10px;
  transition: all 0.5s ease;
  position: absolute;
}

.thing.full .expando {
  display: none;
}
